.main {
    grid-area: main;
    margin: auto;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'menu'
        'main';
}

.header {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 60px;
}

.error {
    color: #CC0000;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.category {
    float: left;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.condition {
    float: left;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 8px;
}

.menu-label {
    float: left;
    padding-top: 2.4%;
    text-align: left;
    width: 80px;
}

.dropdown {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-left: 10px;
    padding: 3px;
    position: relative;
    transformY: (-50%);
}

.name {
    border: 1px solid;
    border-radius: 3px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 5px;
    width: 600px;
}

.description {
    border: 1px solid;
    border-radius: 3px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    height: 200px;
    margin-bottom: 15px;
    padding: 5px;
    resize: none;
    width: 600px;
}

.price {
    border: 1px solid;
    border-radius: 3px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 5px;
    width: 600px;
}

.zipCode {
    border: 1px solid;
    border-radius: 3px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 5px;
    width: 600px;
}

.email {
    border: 1px solid;
    border-radius: 3px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 5px;
    width: 600px;
}

.phone-number {
    border: 1px solid;
    border-radius: 3px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 5px;
    width: 600px;
}

.button {
    text-align: center;
}

.file-label {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.files {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    text-align: center;
}

.add-item {
    background-color: #4F6DA1;
    border: 1px solid;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    width: 110px;
}

.add-item:hover {
    background-color: #5B7FBD;
}

