.main {
    grid-area: main;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'menu'
        'main';
}

.header {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 40px;
	margin-top: 60px;
	text-align: center;
}

.registerSuccess {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
    text-align: center;
}