.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
    margin: auto;
}
.grid-container {
    display: grid;
    grid-template-areas:
        'menu'
        'main';
}

a:link, a:visited {
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

a:hover, a:active {
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    text-decoration: underline;
}

.navbar {
    padding: 10px;
}

.navbar > span {
    padding-left: 10px;
    padding-right: 10px;
}


.keywords {
    border: 1px solid;
    border-radius: 3px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 800px;
}

.search {
    background-color: #4F6DA1;
    border: 1px solid;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
    width: 80px;
}

.search:hover {
    background-color: #5B7FBD;
}

.myaccount {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 60px;
	text-align: center;
}

.myitems {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    width: 100%;
}

th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

td {
    border: 1px solid black;
    padding: 5px;
}
