.main {
    grid-area: main;
    float: left;
    height: 600px;
}

.side-menu {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    height: 290px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'menu menu'
        'header header'
        'side-menu main';
    grid-template-columns: 220px auto;
}

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 300px 300px 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 60px;
}

.resultDiv {
    margin-top: 6px;
    text-align: center;
}

.resultCount, .result {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.sort {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    padding: 3px;
    position: relative;
    text-align: center;
    transform: translateY(-6%);
}

.condition {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
}

.condition-label {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}

.checkbox {
    margin-bottom: 2px;
}

.checkbox-label {
    position: relative;
    bottom: 2px;
}

.distance {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.distance-label {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

.miles {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-left: 4px;
    margin-right: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    width: 40px;
}

.zip-code {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-left: 8px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    width: 60px;
}

.distance-submit {
    display: block;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
}

.grid-item {
    border: 1px solid;
    border-radius: 6px;
    display: inline-grid;
    float: left;
    height: 300px;
    margin: 10px;
    padding: 5px;
    position: relative;
    width: 300px;
}

.grid-item img {
    max-height: 70%;
    max-width: 100%;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    width: 300px;
}

.item-name {
    bottom: 0;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    height: 20%;
    margin: 5px;
    overflow: hidden;
    position: absolute;
}

.item-name a {
    color: #3399ff;
    text-decoration: none;
}

.item-name a:hover, .item-name a:active {
    text-decoration: underline;
}

.item-latitude, .item-longitude {
    display: none;
}