@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

@font-face {
    font-family: 'Noto Sans Medium';
    src: url('/css/fonts/NotoSans-Medium.woff') format('woff');
}

html, body, form, input, textarea, select {
    font-family: 'Noto Sans', 'Tahoma', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-areas:
        'menu'
        'main';
}

.main {
    grid-area: main;
    margin: 0 auto 60px;
    padding: 0px 20px;
}

.header {
    font-family: 'Noto Sans Medium', 'Tahoma', sans-serif;
	font-size: 24px;
	margin-bottom: 30px;
}

.form {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'category condition'
        'name name'
        'description description'
        'price email'
        'zip-code phone-number'
        'images images'
        'add-item add-item';
    grid-template-columns: 300px 300px;
}

.categories {
    grid-area: category;
    margin-bottom: 3px;
}

.condition {
    grid-area: condition;
    margin-bottom: 3px;
}

.name {
    grid-area: name;
}

.description {
    grid-area: description;
}

.price {
    grid-area: price;
}

.zip-code {
    grid-area: zip-code;
}

.email {
    grid-area: email;
}

.phone-number {
    grid-area: phone-number;
}

.images {
    grid-area: images;
}

.add-item {
    grid-area: add-item;
}

.dropdown-label {
    float: left;
    font-weight: 700;
    padding-top: 2.1%;
}

.dropdown {
    border-color: #999999;
    border-radius: 3px;
    margin-left: 10px;
    padding: 5px;
    position: relative;
    width: 120px;
}

.error {
    color: #CC0000;
    margin-bottom: 5px;
}

.label {
    font-weight: 700;
    margin-bottom: 6px;
}

.input {
    border: 1px solid #999999;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
}

.description-input {
    border: 1px solid #999999;
    border-radius: 3px;
    box-sizing: border-box;
    height: 200px;
    padding: 8px;
    resize: none;
    width: 100%;
}

.dropdown:focus, .input:focus, .description-input:focus {
    border: 1px solid #748aad;
    box-shadow: 0px 0px 3px #748aad;
    outline: 0px solid #748aad;
}

.images-label {
    font-weight: 700;
    margin-bottom: 10px;
}

.images-input {
    text-align: center;
}

.submit {
    background: linear-gradient(#536283 0%, #232e46 100%);
    border: 1px solid #111621;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    padding: 8px;
    text-align: center;
    width: 300px;
}

.submit:hover, .submit:active, .submit:focus {
    background: linear-gradient(#47536f 0%, #192031 100%);
    border: 1px solid #111621;
    outline: 0px solid #111621;
}
