@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400&display=swap');

@font-face {
    font-family: 'Noto Sans Medium';
    src: url('/css/fonts/NotoSans-Medium.woff') format('woff');
}

a {
    color: black;
    text-decoration: none;
}

.header, .price, .item-name {
    font-family: 'Noto Sans', 'Tahoma', sans-serif;
    font-size: 16px;
}

.grid {
    background-color: #f6f6f6;
    display: grid;
    grid-template-areas:
        'menu'
        'main';
}

.main {
    display: grid;
    grid-area: main;
    grid-template-areas:
        'registered'
        'appliances'
        'books'
        'electronics'
        'furniture'
        'tools'
        'vehicles';
    margin: 0px auto 60px;
    padding: 0px 20px;
}

.registered {
    font-family: 'Noto Sans Medium', 'Tahoma', sans-serif;
    font-size: 18px;
    grid-area: registered;
    margin-bottom: 30px;
    text-align: center;
}

.appliances, .books, .electronics, .furniture, .tools, .vehicles {
    background-color: white;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
    box-shadow: 0px 2px 6px #d7d7d7;
    margin: 0px auto 30px;
    overflow-x: auto;
    max-width: 1500px;
    min-width: 750px;
    width: 100%;
}

.appliances {
    grid-area: appliances;
}

.books {
    grid-area: books;
}

.electronics {
    grid-area: electronics;
}

.furniture {
    grid-area: furniture;
}

.tools {
    grid-area: tools;
}

.vehicles {
    grid-area: vehicles;
}

.header {
    border-bottom: 1px solid #b7b7b7;
    height: 36px;
    line-height: 36px;
	margin-top: 5px;
	padding-bottom: 10px;
	text-decoration: none;
	width: 100%;
}

.header a {
    font-family: 'Noto Sans Medium', 'Tahoma', sans-serif;
    font-size: 24px;
	margin-left: 20px;
}

.header a:hover {
    text-decoration: underline;
}

.items {
    width: 1500px;
}

.item {
    background-color: white;
    box-sizing: border-box;
    display: inline-grid;
    float: left;
    grid-template-areas:
        'image'
        'name';
    grid-template-rows: 265px 57px;
    outline: 1px solid #b7b7b7;
    padding: 15px;
    width: 250px;
}

.image {
    box-sizing: border-box;
    grid-area: image;
    position: relative;
}

.image img {
    left: 50%;
    max-height: 255px;
    max-width: 100%;
    position: absolute;
    top: calc(50% - 5px);
    transform: translate(-50%, -50%);
}

.price {
    background-color: white;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    bottom: 10px;
    padding: 0px 7px;
    position: absolute;
    z-index: 1;
}

.item-name {
    font-size: 16px;
    grid-area: name;
}

.item-name a:hover, .item-name a:active {
    color: #2b66b5;
}
