@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

@font-face {
    font-family: 'Noto Sans Medium';
    src: url('/css/fonts/NotoSans-Medium.woff') format('woff');
}

html, body, pre, span {
    font-family: 'Noto Sans', 'Tahoma', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-areas:
        'menu'
        'main';
}

.main {
    grid-area: main;
    margin: 0 auto 60px;
    padding: 0px 20px;
    width: 1200px;
}

.header {
    font-family: 'Noto Sans Medium', sans-serif;
	font-size: 24px;
	margin-bottom: 15px;
}

.images {
    border-bottom: 1px solid #b7b7b7;
    display: grid;
    grid-area: item-images;
    grid-template-areas:
        'thumbnails selected-image map'
        'thumbnails selected-image map';
    grid-template-columns: 127px 733px 340px;
    margin: 0 auto;
    padding: 10px 5px 24px;
}

.thumbnails {
    grid-area: thumbnails;
}

.image {
    border: 1px solid #b7b7b7;
    cursor: pointer;
    display: inline-grid;
    height: 127px;
    margin-bottom: 21px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.image img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.selected-image {
    grid-area: selected-image;
    height: 430px;
    text-align: center;
}

.selected-image img {
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.map {
    grid-area: map;
    height: 340px;
}

.iframe {
    border: 0;
    display: block;
    height: 100%;
    width: 100%;
}

.info {
    border-bottom: 1px solid #b7b7b7;
    margin-top: 20px;
    padding: 0 5px 24px;
}

.info pre {
    margin: 0px;
    overflow-wrap: break-word;
    padding-top: 3px;
    white-space: pre-wrap;
}

.label {
    font-weight: 700;
    margin-bottom: 10px;
}

.text {
    font-family: 'Noto Sans', 'Tahoma', sans-serif;
    margin-left: 3px;
}

.contact-info {
    margin-top: 20px;
    padding-left: 5px;
}

.header-small {
    font-family: 'Noto Sans Medium', 'Tahoma', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}
