@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
}

.menu, .menu a, .keywords, .category, .search-submit {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.menu {
    background-color: #232e46;
    grid-area: menu;
    margin-bottom: 60px;
    padding: 10px 0 0 10px;
}

.menu > span {
    padding: 0 10px;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.menu-link:hover, .menu-link:active {
    color: white;
    text-decoration: underline;
}

.search-bar {
    margin-bottom: 16px;
    margin-top: 3px;
    text-align: center;
}

.keywords {
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: border-box;
    margin: 10px 3px 0 0;
    min-width: 300px;
    padding: 7px 8px;
    width: 50%;
}

.keywords:focus {
    border: 1px solid #748aad;
    outline: 0px solid #748aad;
}

.category {
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: border-box;
    margin-right: 6px;
    padding: 6px 8px;
}

.category:focus {
    border: 1px solid #748aad;
    outline: 0px solid white;
}

.search-submit {
    background: linear-gradient(#ebf2ff 0%, #98a0ad 100%);
    background-color: #b7b7b7;
    border: 1px solid #afb8c6;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    padding: 7px 14px;
}

.search-submit:hover, .search-submit:active, .search-submit:focus {
    background: linear-gradient(#d0daec 0%, #868f9d 100%);
    background-color: #a1a1a1;
    border: 1px solid #9aa5b6;
    outline: 0px solid #9aa5b6;
}
