<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Add Item</title>
    <link rel="stylesheet" type="text/css" href="additem.css">
</head>
<body>
<div class="grid-container">
    <div class="menu">
        <div class="navbar">
            <span><a href="/">Home</a></span>
            <span><a th:href="@{/myaccount}">My Account</a></span>
            <span sec:authorize="not hasAuthority('User')"><a th:href="@{/register}">Create Account</a></span>
            <span sec:authorize="hasAuthority('User')"><a th:href="@{/signout}">Sign Out</a></span>
        </div>
    </div>
    <div class="main">
        <form action="#" th:action="@{/results}" th:object="${keywords}" method="get">
            <div>
                <input type="text" th:field="*{name}" class="keywords" placeholder="Keywords"/>
                <input type="submit" class="search" value="Search"/>
            </div>
        </form>
        <h1 class="header">Add Item</h1>
        <form action="#" th:action="@{/additem}" th:object="${item}" method="post">
            <div>
                <input type="text" th:field="*{name}" class="name" placeholder="Name"/><br />
                <textarea th:field="*{description}" class="description" placeholder="Description"></textarea>
            </div>
            <div class="button">
                <input type="submit" class="additem" value="Add Item"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>