<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Add Item</title>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/additem.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="grid">
    <div class="menu">
        <span><a href="/" class="menu-link">Home</a></span>
        <span><a href="/myaccount" class="menu-link">My Account</a></span>
        <span sec:authorize="not hasAuthority('User')"><a href="/register" class="menu-link">Create Account</a></span>
        <span sec:authorize="hasAuthority('User')"><a href="/signout" class="menu-link">Sign Out</a></span>
        <div class="search-bar">
            <form action="/results" method="get">
                <input type="text" name="keywords" class="keywords"/>
                <select name="category" class="category">
                    <option value="all">All Categories</option>
                    <option value="appliances">Appliances</option>
                    <option value="books">Books</option>
                    <option value="electronics">Electronics</option>
                    <option value="furniture">Furniture</option>
                    <option value="tools">Tools</option>
                    <option value="vehicles">Vehicles</option>
                </select>
                <input type="submit" class="search" value="Search"/>
            </form>
        </div>
    </div>
    <div class="main">
        <h1 class="header">Add Item</h1>
        <form action="#" th:action="@{/additem}" th:object="${item}" id="addItemForm" enctype="multipart/form-data" method="post">
            <div class="category-menu">
                <div class="menu-label">Category:</div>
                <span>
                    <select th:field="*{category}" class="dropdown">
                        <option value="appliances">Appliances</option>
                        <option value="books">Books</option>
                        <option value="electronics">Electronics</option>
                        <option value="furniture">Furniture</option>
                        <option value="tools">Tools</option>
                        <option value="vehicles">Vehicles</option>
                    </select>
                </span>
            </div><br /><br />
            <div class="condition">
                <div class="menu-label">Condition:</div>
                <span>
                    <select th:field="*{itemCondition}" class="dropdown">
                        <option value="New">New</option>
                        <option value="Used">Used</option>
                    </select>
                </span>
            </div><br /><br /><br />
            <div th:errors="*{name}" class="error"></div>
            <div class="label">Name</div>
            <input type="text" th:field="*{name}" class="input"/><br />
            <div th:errors="*{description}" class="error"></div>
            <div class="label">Description</div>
            <textarea th:field="*{description}" class="description"></textarea><br />
            <div th:errors="*{price}" class="error"></div>
            <div class="label">Price</div>
            <input type="text" th:field="*{price}" class="input"><br />
            <div th:errors="*{zipCode}" class="error" id="zipCodeError"></div>
            <div class="label">Zip Code</div>
            <input type="text" th:field="*{zipCode}" class="input" id="zipCode"/><br />
            <div th:errors="*{email}" class="error"></div>
            <div class="label">Contact Email</div>
            <input type="text" th:field="*{email}" class="input"><br />
            <div th:errors="*{phoneNumber}" class="error"></div>
            <div class="label">Contact Phone Number</div>
            <input type="text" th:field="*{phoneNumber}" class="input"><br />
            <div th:text="${imageError}" class="error"></div>
            <div class="files-label">Item Images</div>
            <input type="file" name="files" class="files-input" accept="image/*" multiple><br />
            <input type="submit" class="add-item-button" value="Add Item"/>
        </form>
    </div>
</div>
<script th:inline="javascript">
    var apiKey = /*[[${apiKey}]]*/ "";
</script>
<script src="js/additem.js"></script>
</body>
</html>