<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>My Account</title>
    <link rel="stylesheet" type="text/css" href="myaccount.css">
</head>
<body>
<div class="grid-container">
    <div class="menu">
        <div class="navbar">
            <span><a href="/">Home</a></span>
            <span><a th:href="@{/myaccount}">My Account</a></span>
            <span sec:authorize="not hasAuthority('User')"><a th:href="@{/register}">Create Account</a></span>
            <span sec:authorize="hasAuthority('User')"><a th:href="@{/signout}">Sign Out</a></span>
        </div>
    </div>
    <div class="main">
        <h1 class="header">Hello, <span sec:authentication="name"></span>!</h1>
    </div>
</div>
</body>
</html>