<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
<div class="main">
    <h1 class="header">Create Account</h1>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="error" th:errors="*{username}"></div>
        <div class="label">Username</div>
        <input type="text" th:field="*{username}" name="username" class="username"/><br />
        <div class="error" th:errors="*{password}"></div>
        <div class="label">Password</div>
        <input type="password" th:field="*{password}" name="password" class="password"/><br />
        <input type="submit" class="create-account" value="Create Account"/>
    </form>
</div>
</body>
</html>