<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
    <form th:action="@{/register}" th:object="${user}" method="post" class="form">
        <div class="header">Create Account</div>
        <div th:errors="*{username}" class="error"></div>
        <div class="label">Username</div>
        <div class="input"><input type="text" th:field="*{username}" name="username" class="username"/></div>
        <div th:errors="*{password}" class="error"></div>
        <div class="label">Password</div>
        <div class="input"><input type="password" th:field="*{password}" name="password" class="password"/></div>
        <div class="input"><input type="submit" value="Create Account" class="submit"/></div>
    </form>
</body>
</html>